* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

code {
  font-family: monospace;
  color: rgb(31, 59, 102);
  font-size: 1.2em;
  background-color: rgba(222, 184, 135, 0.459);
  line-height: 23px;
  padding: 2px;
}
